---
layout: default
---
{% for team_hash in site.data.team %}
{% assign team_member = team_hash[1] %}
<div>
  <h2>{{ team_member.name }}</h2>
  <img src="/assets/images{{ team_member.image }}" alt="{{ team_member.alt }}">
  <h3>{{ team_member.title }}</h3>
  <div>
    {% for profile in team_member.profiles %}
    <a href="{{ profile.profile_link }}" title="{{ team_member.name }}'s {{ profile.profile_name }}">
      {{ profile.profile_name }}
    </a>
    {% endfor %}
  </div>
</div>
{% endfor %}
