---
layout: default
---
<div class="c-work-display">
  {% for website_hash in site.data.work %}
  {% assign website = website_hash[1] %}
  <article class="c-card m-b-2">
    <header class="c-card__header p-2">
      <h2 class="c-card__title">{{ website.name }}</h2>
    </header>
    <img class="c-card__image" src="/assets/images{{ website.image }}" title="Preview image of the {{ website.name }} website">
    {% if website contains 'description' %}
      <div class="c-card__description p-2">{{ website.description | markdownify }}</div>
    {% endif %}
    <footer class="c-card__footer">
      <a class="c-card__link p-2" href="{{ website.site_link }}" title="Visit the {{ website.name }} site">
        Visit site &rarr;
      </a>
      {% if website contains 'extra_link_url' %}
        <a class="c-card__link p-2" href="{{ website.extra_link_url }}" title="Check out the {{ website.extra_link_text }} for {{ website.name}}">
          {{ website.extra_link_text }} &rarr;
        </a>
      {% endif %}
    </footer>
  </article>
  {% endfor %}
</div>
