<form id="rfqForm" class="c-contact-form" method="post" action="#">

  <label class="c-contact-form__label" for="name">
    Name
  </label>
  <input id="name" class="c-contact-form__field" type="text" name="name" autocomplete="name" required autofocus>

  <label class="c-contact-form__label" for="replyto">
    Email
  </label>
  <input id="replyto" class="c-contact-form__field" type="email" name="replyto" autocomplete="email" required>

  <label class="c-contact-form__label" for="message">
    Introduce us to your project
  </label>
  <textarea id="message" class="c-contact-form__field c-contact-form__field--textarea" name="message" rows="4" required></textarea>

  <div class="c-contact-form__actions text-center">
    <button class="c-contact-form__button p-v-2 p-h-3" type="submit">send</button>
  </div>

</form>

<h3 class="c-contact-form__footer c-contact-form__message text-center p-3 js-form-success-message">
  Thank you for your message! We'll get back to you within two working days.
</h3>
