.c-card {
  border: $dark-blue-border;

  &__header {
    border-bottom: $dark-blue-border;
  }

  &__title,
  &__title--sub {
    margin: 0;
  }

  &__title {
    font-size: calc(1vmax + #{remem(base, em)});
  }

  &__title--sub {
    border-top: $dark-blue-border;
  }

  &__image {
    display: block;
    max-width: 100%;
  }

  &__description {
    border-top: $dark-blue-border;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
    border-top: $dark-blue-border;
  }

  &__links-list {
    display: flex;
    flex-wrap: wrap;

    > .c-card__link {
      flex: 1 1 10rem;

      // don't include the top border for successive links in the `links-list`
      & + .c-card__link {
        border-top: 0;
      }
    }
  }

  &__link {
    width: 100%;

    & + & {
      border-top: $dark-blue-border;
    }
  }

  &__link:hover,
  &__link:focus {
    background-color: $c-dark-blue;
    color: $c-tan;
  }
}
